version: '3.8'

services:
  app:
    build: .
    container_name: mybookstore_app
    ports:
      - "8080:80"
    environment:
      - DATABASE_URL=mysql://root:root@database:3306/mybookstore?serverVersion=8.0&charset=utf8mb4
      - APP_ENV=dev
      - APP_SECRET=ChangeMeInProd
    volumes:
      - .:/var/www/html
    depends_on:
      - database
    networks:
      - symfony_network

  database:
    image: mysql:8.0
    container_name: mybookstore_db
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=mybookstore
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - symfony_network

###> doctrine/doctrine-bundle ###
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      # You should definitely change the password in production
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    volumes:
      - database_data:/var/lib/postgresql/data:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

networks:
  symfony_network:

volumes:
  db_data:

###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
